<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <WindowsFormsApplication.Properties.Settings>
            <setting name="StCap" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="StDate" serializeAs="String">
                <value>2015-01-01</value>
            </setting>
            <setting name="Risk" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LShld" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SShld" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Symbols" serializeAs="String">
                <value />
            </setting>
            <setting name="PDate" serializeAs="String">
                <value>2015-01-01</value>
            </setting>
            <setting name="BigRep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendP" serializeAs="String">
                <value>False</value>
            </setting>
        </WindowsFormsApplication.Properties.Settings>
    </userSettings>
</configuration>